.hero__animation > div > div {
    width: 300px;
    height: 300px;
}

@screen md {
    .hero__animation > div > div {
        width: 500px;
        height: 500px;
    }
}

@screen xl {
    .hero__animation > div > div {
        width: 750px;
        height: 750px;
    }
}

@screen 2xl {
    .hero__animation > div > div {
        width: 1000px;
        height: 1000px;
    }
}