html {
    scroll-behavior: smooth;
}

body {
    @apply text-gray-700;
    @apply font-body;
}

a, button {
    outline: 0!important;

    @apply transition;

    span {
        transition: none;
    }
}

.btn {
    text-decoration: none;
    text-transform: uppercase;

    @apply inline-block tracking-widest text-xxs py-3 px-5 bg-green-400 rounded text-center text-white font-medium transition hover:bg-green-500;

    &.bg-white {
        background: white;
        @apply text-gray-700;
    }

    &.btn--large {
        @apply text-xs py-4 px-8;
    }

    &.btn--form {
        @apply rounded-lg;
        @apply rounded-l-none;
    }

    &:disabled {
        @apply opacity-50;
    }
}

.burger, .burger:before, .burger:after {
    display: block;
    position: relative;
    width: 1rem;
    height: 2px;
    font-size: 0;
    line-height: 1;

    @apply bg-gray-50;

}

.burger {
    &:before, &:after {
        content: '';
    }

    &:before {
        top: -5px;
    }

    &:after {
        bottom: -3px;
    }
}

.swiper-container.overflow-visible {
    overflow: visible!important;
}

.swiper-slide.h-auto {
    height: auto!important;
}

.pac-container {
    @apply rounded-lg shadow-xl p-5;

    .pac-item {
        @apply py-1;

        &:first-child {
            @apply border-transparent;
        }
    }
}

.calendar-picker__main {
    .react-calendar {
        border: none;
        overflow: hidden;

        @apply w-full shadow-lg rounded-lg;

        &__tile {
            position: relative;
            padding-top: 3.4em;
            padding-bottom: 3.4em;

            &.expired {
                .date-actions {
                    display: none!important;
                    pointer-events: none!important;
                }
            }

            &:disabled {
                @apply bg-gray-50 text-gray-300;

            }

            &--now {
                @apply bg-white;
            }



            &:enabled:hover, &:enabled:focus, &--now:enabled:hover, &--now:enabled:focus {
                @apply bg-gray-200;
            }

            &.react-calendar__tile--active, &.react-calendar__tile--active:enabled:hover, &.react-calendar__tile--active:enabled:focus {
                @apply bg-green-400 text-white;

            }

        }

        .react-calendar__navigation button[disabled], .react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
            @apply bg-gray-200;
        }

        &__navigation__label {
            pointer-events: none;
        }

        &__month-view__weekdays__weekday {
            abbr {
                text-decoration: none;
            }
        }


        &__month-view__days__day--weekend {
            color: inherit;
        }
    }
}
